@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<h4>Description</h4>
<p>This application is using Twitter embedded timeline widget. It implements the following features:</p>
<p>(1) Authenticate with Twitter using OAuth</p>
<p>(2) Show profile tweets of authenticated user</p>
<p>(3) Show tweets followed by authenticated user</p>
<p>(4) Post tweets</p>

<h4>Known Issues:</h4>
<p>(1) Posting tweet with large image will fail: https://github.com/linvi/tweetinvi/issues/648 </p>
<p>(2) Tweet like status is not updated in timeline: https://twittercommunity.com/t/profile-timeline-widget-does-not-show-the-like-status/101334 </p>