@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Singapore<br />
    <abbr title="Phone">P:</abbr>
    12345678
</address>

<address>
    <strong>Support:</strong> <a href="mailto:funcoolgeek@gmail.com">funcoolgeek@gmail.com</a><br />
</address>