@page
@inject SignInManager<ApplicationUser> SignInManager
@model ASP.NetCoreTwitterOAuth.Pages.Twitter.IndexModel
<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
<div class="row">
    <div class="col-md-2">
        <h2>CreatedAt</h2>
    </div>
    <div class="col-md-10">
        <h2>Text</h2>
    </div>
</div>
@if (SignInManager.IsSignedIn(User))
{
    @foreach (var tweet in Model.Tweets)
    {
        <div class="row">
            <div class="col-md-2">
                <span>@tweet.CreatedAt</span>
            </div>
            <div class="col-md-10">
                <span>@tweet.Text</span>
            </div>
        </div>
    }
}