@page
@inject SignInManager<ApplicationUser> SignInManager
@model ASP.NetCoreTwitterOAuth.Pages.Twitter.IndexModel
<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };
        return t;
    }(document, "script", "twitter-wjs"));
</script>
<div class="row">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TweetString"></label>
                <input asp-for="TweetString" class="form-control"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control" type="file" />
            </div>
        </div>
        <div class="col-md-12">
            @{
                bool Disabled = false;
                if (SignInManager.IsSignedIn(User) == false)
                {
                    Disabled = true;
                }
            }
            <button type="submit" class="btn btn-success" disabled="@Disabled">Post</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-2">
        <h2>CreatedAt</h2>
    </div>
    <div class="col-md-10">
        <h2>Text</h2>
    </div>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        @foreach (var tweet in Model.Tweets)
        {
            <div class="row">
                <div class="col-md-2">
                    <span>@tweet.CreatedAt</span>
                </div>
                <div class="col-md-10">
                    <span>@tweet.Text</span>
                </div>
            </div>
            @if (tweet.Entity != null && tweet.Entity.Media != null)
            {
                @foreach (var media in tweet.Entity.Media)
                {
                    <div class="row">
                        <img src="@media.MediaUrl" />
                    </div>
                }
            }
        }
    </div>
}
