@page
@using ASP.NetCoreTwitterOAuth.Data
@model System.Collections.Generic.IEnumerable<ASP.NetCoreTwitterOAuth.Data.Tweet>
<div id="tweets">
    @Html.Partial("~/Pages/Partial/_Tweets.cshtml")
</div>
<script type="text/javascript">
    window.setInterval(function() {
        $.get('/Twitter/Partial', function (partialViewResult) {
            $("#tweets").html(partialViewResult);

            var englishSelected = $('#english').attr('selected');
            var norwegianSelected = $('#norwegian').attr('selected');
            var arabicSelected = $('#arabic').attr('selected');

            if (typeof englishSelected !== typeof undefined && englishSelected !== false) {
                //Hide non-english news
                $("div[data-language]").each(function () {
                    if ($(this).attr('data-language') !== "en") {
                        $(this).hide();
                    }
                });

                $("img[data-language]").each(function () {
                    if ($(this).attr('data-language') !== "en") {
                        $(this).hide();
                    }
                });
            } else if (typeof norwegianSelected !== typeof undefined && norwegianSelected !== false) {
                //Hide non-norwegian news
                $("div[data-language]").each(function () {
                    if ($(this).attr('data-language') !== "no") {
                        $(this).hide();
                    }
                });

                $("img[data-language]").each(function () {
                    if ($(this).attr('data-language') !== "no") {
                        $(this).hide();
                    }
                });
            } else if (typeof arabicSelected !== typeof undefined && arabicSelected !== false) {
                //Hide non-arabic news
                $("div[data-language]").each(function () {
                    if ($(this).attr('data-language') !== "ar") {
                        $(this).hide();
                    }
                });

                $("img[data-language]").each(function () {
                    if ($(this).attr('data-language') !== "ar") {
                        $(this).hide();
                    }
                });
            }
        });
    }, 300000);
</script>